       *{
             margin: 0;
             padding: 0;
             box-sizing: border-box;

        }

        body{
            background-color: rgb(2, 2, 30);
            font-family: 'Times New Roman', Times, serif;
             padding-top: 5px;
        }
        .header{
            background-color:rgba(2, 2, 39, 0.63) ;
            width:100%;
            max-width:1550px;
            display: flex;
            flex-wrap: wrap;
            
            height: 10%;
            min-height: 15%;
            align-items: center;
            margin-top: 1%;
            
            position: fixed;
            left: 0;
            top: 0;
            z-index: 1000;
                
        }
        .header h1{
            color: white;
            font-size: x-large;   
            width: 100%;
            max-width: 60%;
            padding: 0 3%;


        }
        
        nav a{
            
            width: 30%;
            text-align: center;
            margin:auto;
            color: white;
            text-decoration: none;
            font-size: large;          
            margin: 9px;
    
            outline: none;
        }
        nav a:hover{
            
            transform:scale(20px);
            transition: 2sec;
            color: rgb(231, 231, 146);
            
        }
        .firsts{
            display: flex;
           flex-wrap: wrap;
           position: relative;
           z-index: 7;
           padding: 7% 0;
           height: auto;
           min-height: 100vh;
           width: 100%;
           max-width: 1550px;

            
        }
         
        .leftbox{
            color: #1e1b4b;
            font-size: large;
            font-weight: bold;
           margin: auto;
            width:100%;
             max-width: 380px;
            padding: 10px 10px;
            border-radius: 30px;
            background-color:rgba(225, 198, 255, 0.6);
            text-align: center;
                       

        }
        .left{
            
            flex: 1;
            justify-content:center;
            text-align: center;
            align-items: center;
           padding: 10% 2%;
         
            width: auto;
            max-width:1200px;
            
        }
        .left h1{
            padding-top: 9%;
            font-size: 30px;
            color: white;
            
            
        }
        .left h2{
            font-size:medium;
            color: white;  
            padding-top: 3%;

        }
        .left p{            
            font-size:large;
            color: white;
            display: flex;
            flex-wrap: wrap;
            padding-top: 4%;
           margin:  0 10%;
        }
        
        
        .socialicons{
            display:flex;
            flex-direction: row;
            justify-content: center;
            gap: 9px;
        }
        .socialicons img{
            width: 70px;
            height: 70px;
            margin-top: 60px;
        }
         .boxe{
           width: 90%;
           max-width: 800px;
             min-height: 250px;
           margin: 60px auto;      
          padding: 40px;
          background-color: rgb(1, 1, 22);
          border-radius: 20px;
         text-align: center;
        }
        .boxe h1{
            color: white;
            font-size: xx-large;
           text-align: center;
           margin: 0;
        }
        .boxe p{
            color: white;
            font-size: large;
            margin-top: 10px;
            text-align: center;
            margin: 0;
        }
        .boxe button{
            font-size: larger;
            background-color:rgba(225, 198, 255, 0.6) ;
            font-weight: bold;
            display: block;
            margin: 30px 0 0 auto;
           width: 120px;
           border-radius: 20px;
           padding: 10px;
        }
        .boxe a{
            text-decoration: none;
        }

        .right{
           
            justify-content:center;
            text-align: center;
            align-items: center;
            padding-top: 8%;
           width: 100%;
           max-width: 550px;

        
        }
        .right img{
            border:1px solid rgba(255,255,255,.1);
            box-shadow: 0 20px 50px rgba(95,50,170,.45);
            width: 95%;
            max-width: 400px;
           min-height: 20vh;
           border-radius: 10%;
    

        }
        .collab{
            height: 100%;
            min-height: 600px;

        }
        .aboutme{
            background-color:rgb(1, 1, 22) ;

            width: 100%;
             max-width: 1550px;
             height: 100%;
            min-height: 600px;
            padding-top: 10%;
            display: flexbox;
            flex-wrap: wrap;
            padding-left: 5%;
            
        }
        .box{
            color: #1e1b4b;
            font-weight: bold;
            font-size: large;
            width: 90px;
            padding-left: 0.5%;
            align-items: center;
            margin-left: 20%;
            margin-top: 5%;
            background-color:rgba(202, 171, 235,0.6);
            border-radius: 30px;
        }
        .aboutme h1{
            margin-top:15px;
            font-size:70px;
            font-weight: 900;
            font-family: 'Times New Roman', Times, serif;
            color: white;
        }
        .aboutme h2{
            margin-top:30px;
            font-size:70px;
            font-family: 'Times New Roman', Times, serif;
            color: white;
            margin-top: 0;
            font-weight: 900;
        }
        .aboutme span{
            color:rgb(227, 198, 255) ;
            
        }
        .aboutme p{
            color: white;
            font-family: 'Times New Roman', Times, serif;
            font-size: medium;
            
        }
        .aboutmee{
        
            display: flex;
            flex-wrap: wrap;
            height: 100%;
            min-height:400px ;
            width: 100%;
            max-width: 1500px;
            justify-content: center;
            align-items: center;
            
            padding: 5% 0;

        
            
            
        }
        .lefte{
            width: 100%;
            max-width:400px;
            height: 100%;
            min-height: 40vh;
           justify-content:center;
            text-align: center;
            align-items: center;
           flex: 1;
        }
        .lefte img{
            border: 1px solid #1e1b4b;
            border-radius: 50%;
            box-shadow: 0 20px 50px rgba(95,50,170,.45);
            width: 91%;
            object-fit: cover;
            
           
            

        }
        .righte{
            margin-bottom: 10%;
            height: 100%;
            min-height: 400px;
            width: 100%;
            max-width: 1000px;
            padding: 10% 5%;
            
            
        }
        .righte h1{
            color: rgb(227, 198, 255);
            
            margin-right: 45%;
            font-family: 'Times New Roman', Times, serif;
            font-size: large;
            
        }
        .righte p{
            color: white;
            margin-left: 0px;
            margin-top: 20px;
            
            font-size: large;
            padding: 30px;
            
        }
        
        
        .skills{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 160px;
            
             width: 90%;
            max-width: 1100px;
            margin: auto;
            
           }
        .skill{
            border: 1px solid rgba(17, 17, 73, 0.762);
            border-radius: 10%;
            background-color: rgba(1, 1, 18, 0.019);
            
            color: white;
            
            font-size: small;
            font-weight: lighter;
             box-shadow: 0 20px 50px rgba(96, 50, 170, 0.196);
             text-align: center;
             width:100%;
            height:auto;
            padding:30px;

        }
        .skill h1{
            font-size: x-large;
            padding: 10%;
            color: rgb(227, 198, 255);
            
        }
        .skill p{
            font-size: medium;
            margin-top: 10%;
        }
        .mini{
            margin-bottom: 180px;
        }
        .heading{
            padding-top: 140px;
            
        
        }
        .heading h1{
            font-size:xx-large;
            color: white;
            text-align: center;
            justify-content: center;
        }
        .heading p{
            font-size:larger;
            color: white;
             text-align: center;
             margin-bottom: 5%;
        }
        
        .head h1{
            color: white;
            text-align: center;
        }
        .skull {
            border: 1px solid rgba(17, 17, 73, 0.762);
            border-radius: 12%;
            background-color: rgba(1, 1, 18,0.019);
            color: white;
            width: 100%;
            font-size: small;
            font-weight: lighter;
             box-shadow: 0 20px 50px rgba(96, 50, 170, 0.086);
             text-align: center;
             justify-content: center;
             height:100%;
            margin-bottom: 15px;


        }
        .skull h1{
            font-size: large;
            padding: 9%;
            color: rgb(227, 198, 255);
            margin-top: 5%;
        }
        .projects{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
             gap: 40px;
           
              width: 90%;
             max-width: 1100px;
             margin: 5% auto;

            
        }
        .skull p{
            font-size: medium;
            margin-top:6%;
            padding-bottom: 10px;
            padding: 2%;
        }
        .skull button{
            border-radius: 15px;
            padding: 2%;
            width: 100px;
            margin-top: 5%;
            text-align: center;
            background-color: rgb(227, 198, 255);
        }
        .skull img{
            width:100%;
            height:180px;
            object-fit:cover;
            
            filter: brightness(70%)contrast(100%);
        }
        .features {
            display: grid;
            grid-template-columns: repeat(2,180px);
            justify-content: center;
            font-size: medium;
            font-weight: lighter;
            row-gap: 0px;
            padding: 0;
        }
        .features span{
            font-size: medium;
            font-weight: lighter;
            margin-top: 3%;
        }
        
        
        .hireme{
            display: flex;
            flex-wrap: wrap;
            height: 100%;
            min-height:600px ;
            width: 100%;
            max-width: 1500px;
            justify-content: center;
            align-items: center;
            margin-top: 12%;
            padding: 5% 0;
            
        }
        .hiremebox {
            background-color: rgba(1, 1, 18,0.019);
            width: 100%;
            max-width: fit-content;
            height: 100%;
            min-height: 40vh;
            margin-top: -10%;   
           flex: 1;
        }
        .hiremebox h1{
            color: white;
            border: 2px solid rgba(32, 13, 62, 0.447);
            border-radius: 50%;
            background-color: rgba(2, 2, 21, 0.73);
            width: 250px;
            height: 250px;
            padding: 100px 30px;
            text-align: center;
             box-shadow: 0 20px 50px rgba(96, 50, 170, 0.086);
            color: rgb(227, 198, 255);


        }
        .abouthiring{
            margin-bottom: 10%;
            height: 90vh;
            min-height: fit-content;
            width: 100%;
            max-width: 1000px;
            padding: 0 5%;
        }
        .abouthiring h1{
            color: rgb(227, 198, 255);
            margin-top: 15%;          
            text-align: center; 
        }
        .abouthiring p{
            color: white;
            font-size: medium;
            padding-top: 30px;
            padding-left: 10px;
        }
        .one{
            display: flex;
            flex-direction: row;
            gap: 40px;
            flex-wrap: wrap;
            margin-top: 6%;
            justify-content: center;
        }
        .ones {
            border: 0px solid rgba(32, 13, 62, 0.296);
            border-radius: 20%;
            background-color: rgba(1, 1, 18,0.019);
            color: white;
            width: 200px;
            max-width:100%;
            font-size: small;
            font-weight: lighter;
             box-shadow: 0 20px 50px rgba(96, 50, 170, 0.086);
             height:100px;
            margin-bottom: 15px;
            text-align: center;

        }
        .ones h1{
            font-size: x-large;
            padding: 6%;
            color: rgb(227, 198, 255);
            margin-top: 5%;
        }
        .ones p{
            margin-top: -19px;
            color: rgb(227, 198, 255);
        }
        .contact{
           width: 90%;
            max-width: 600px;
             margin: 80px auto;
            padding: 40px 20px;

             background-color: rgba(1, 1, 18, 0.738);
             box-shadow: 0 20px 50px rgba(96, 50, 170, 0.341);

             display: flex;
             flex-direction: column;
             align-items: center;
             text-align: center;
             
        }
        .contacts{
            padding-top: 10%;
        }
        .contact h1{
            color: rgb(227, 198, 255);
            text-align: center;
            margin-bottom: 40px;
        }
        .contact p{
            color: white;
            padding: 2px 30px;
            font-size: larger;
            text-align: center;
        }
        .contact a{
            color: white;
            text-decoration: none;
            font-size: large;
            
        }
        .contact a:hover{
            transform:scale(20px);
            transition: 2sec;
            color: rgb(231, 231, 146);
        }
        .foot{
            border: 0px solid white;
            height: 40vh;
            padding: 50px 5%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            gap: 40px;
            background-color:rgb(1, 1, 22) ;
            width: 100%;
            max-width: 1500px;
            min-height: fit-content;
            
        }
        .foot h1{
            color:rgb(227, 198, 255) ;
            font-size: large;
            text-align: center;
        }
        .foot p{
            color: white;
            padding-top: 15px;
            text-align: center;
        }
        .tw{
            text-align: center;
            justify-content: center;
        }
        .tw a{
            text-decoration: none;
            color: white;


        }
        .tw a:hover{
            transform:scale(20px);
            transition: 2sec;
            color: rgb(238, 238, 137);
        }
        .icons img{
            width: 50px;
            height: 50px;
            margin-top: 250%;
            text-align: center;
            
        }
        .icons img:hover{
                transform: scale(1.1);
                transition: 2sec;

            }
        .icons{
            display: flex;
            gap: 10px;
            justify-content: center;
            align-items: center;
            margin-top: -90px;
            
            
            
        }
        .th{
            text-align: center;
        
        }
        
        .cont a{
            display: inline-block;
            padding: 12px 50px;

           text-decoration: none;
           color: #1e1b4b;
           background-color: rgba(225, 198, 255, 0.6);
         font-weight: bold;
            
        }
            .cont:hover{
                transform: scale(1.1);
                transition: 2sec;

            }
            .boxe button:hover{
                transform: scale(1.1);
                transition: 2sec;

            }
            .socialicons img:hover{
                transform: scale(1.1);
                transition: 2sec;

            }
            .skull button:hover{
                transform: scale(0.9);
                transition: 2sec;

            }
            .rights{
                background-color:rgb(1, 1, 22) ;
                height: 100px;
                min-height: fit-content;
                width: 100%;
                 max-width: 1510px;
            }
            .rights h4{
                color: white;
                width: 100%;
               min-height: 100px;

               display: flex;
              justify-content: center;
               align-items: center;
               text-align: center;
                
            }